{{#frame site=site page=page}}
<!DOCTYPE html>
<html lang="en-us">
  {{> head }}
  <body>
    <!-- main navigation -->
    <div class="container">
      {{> navbar }}
    </div>
  
    <!-- jumbotron -->
    <div class="container-fluid">
      {{> header }}

      {{#is @page.stem "index"}}
        {{> teaser }}
      {{/is}}
    </div>

    <!-- main content -->
    <div class="container">
      <div class="main-content">
        {{#isnt toc false}}
        <div id="toc"></div>
        {{/isnt}}

        {{#if @page.description}} 
          {{@page.description}} 
        {{/if}}

        {% body %}
        {{> footer }}
      </div>
    </div>

    <!-- github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
{{/frame}}