{{#frame site=site page=page}}
<!DOCTYPE html>
<html lang="en-us">
  {{> head }}
  <body>
    <div class="container">
      {{> navbar }}
    </div>

    <div class="container-fluid">
      {{> header }}
    </div>

    <div class="container">
      <section class="main-content">
        {{#if @page.description}} {{@page.description}} {{/if}}

        {% body %}

        {{> footer }}
      </section>
    </div>
  </body>
</html>
{{/frame}}