<div class="page-header {{#isnt @page.stem "index"}}page-header-sm{{/isnt}}">
  <div class="container">
  {{#is @page.stem "index"}}
    <div class="breakdance-logo">
      <img src="assets/img/breakdance-logo-white.png" alt="">
    </div>

    {{#if @site.description}}
    <h2 class="project-tagline">
      Convert HTML to markdown. Hackable and easy to customize.<br>
      (Sometimes your markup needs to get down)
    </h2>
    {{/if}}

    <a href="https://github.com/jonschlinkert/test" class="btn btn-jumbotron">View on GitHub</a>
    {{else}}

    <h1 id="project-name" class="project-name{{#is @page.stem "index"}} breakdance{{/is}}">
      {{@page.title}}
    </h1>
  {{/is}}
  </div>
</div>