<div class="page-header {{#isnt @page.stem "index"}}page-header-sm{{/isnt}}">
  <div class="container">
    <h1 id="project-name" class="project-name{{#is @page.stem "index"}} breakdance{{/is}}">
      {{@page.title}}
    </h1>

    {{#is @page.stem "index"}}
      {{#if @site.description}}
        <h2 id="project-description" class="project-tagline">
          {{breakOn "Pluggable" @site.description}}
        </h2>
      {{/if}}

      <a href="https://github.com/jonschlinkert/test" class="btn">View on GitHub</a>
    {{/is}}
  </div>
</div>