<nav class="navbar navbar-light">
  <ul class="nav navbar-nav">
    {{#pages}}
      {{#each (sortItems items ../options.nav) as | item |}}
        <li class="nav-item {{#is @root.page.stem item.stem}}active{{/is}}">
          <a class="nav-link" href="{{item.relative}}">{{titleize item.data.title}}</a>
        </li>
      {{/each}}
    {{/pages}}
  </ul>
</nav>

