<nav class="navbar navbar-light">
  <a class="navbar-brand" href="index.html"> Breakdance </a>
  <ul class="nav navbar-nav">
    {{#pages}}
      {{#each (sort items ../options.nav) as | item |}}
        <li class="nav-item {{#is @root.page.stem item.stem}}active{{/is}}">
          <a class="nav-link" href="{{item.relative}}">{{titleize (default item.data.link item.data.title)}}</a>
        </li>
      {{/each}}
    {{/pages}}
  </ul>
</nav>
