<div class="col-12 col-md-3 push-md-9 sidebar">
  <div class="sticky">
    <form class="search hidden-sm-down">
      <input type="text" class="form-control" id="search-input" placeholder="Search..." autocomplete="off">
      <div class="dropdown-menu search-results" id="search-results"></div>
    </form>

    <nav class="page-toc" id="toc"></nav>
  </div>
</div>
