<div class="masthead">
  <div class="container">
    <div class="site-logo-lg">
      <img src="assets/img/breakdance-logo-white.png" alt="">
    </div>

    <br>

    <div class="lead">
      <em>It's time for your markup get down.</em>
    </div>
  </div>
</div>