<meta charset="UTF-8">
<title>{{#if @page.title}}{{@page.title}} | {{@site.name}}{{else}}{{@site.name}}{{/if}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- fonts -->
{{> site-fonts}}

<!-- css -->
{{> site-stylesheets }}

<!-- geopattern styles -->
{{> geopattern }}