<meta charset="UTF-8">
<title>{{#if @page.title}}{{@page.title}} | {{@site.name}}{{else}}{{@site.name}}{{/if}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700|PT+Sans:400,700" rel="stylesheet">

<!-- css -->
{{> site-stylesheets }}

<!-- geopattern styles -->
{{> geopattern }}