<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{@site.description}}">
<meta name="keywords" content="{{join @site.keywords}}">
<meta name="author" content="Jon Schlinkert (https://github.com/jonschlinkert)">
<title>{{@page.title}}{{#if @page.description}} | {{@page.description}}{{/if}}</title>
<!-- google tag manager -->
{{> site-tm }}

<!-- fonts -->
{{> site-fonts}}

<!-- css -->
{{> site-stylesheets }}

<!-- geopattern styles -->
{{> geopattern }}