/**
 * Theme overrides
 */

body {
  font-size: 1.1rem;
  font-family: $font-family-sans-serif;
}

h1, h2, h3, h4 {
  position: relative;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

strong {
  font-weight: bold;
  margin-top: 1em;
}

/**
 * Navbar
 */

.navbar-brand {
  margin-left: -15px;
}

.navbar .gh-buttons .nav-item {
  margin-top: 10px;
  text-align: right;
}

/**
 * Logo
 */

.site-logo-lg {
  display: block;

  img {
    width: 60%;
  }
}

/**
 * Lead
 */

.lead {
  font-size: 1.5rem;
  margin-top: 50px;
}
