/**
 * Page title
 */

.page-title {
  margin: 0;
}

/**
 * Page lead
 */

.page-lead {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
}

/**
 * Page content
 */

// .page-content {
//   word-wrap: break-word;
// }

// .page-content p {
//   margin-bottom: 1em;
// }

// .page-content code,
// .page-content pre {
//   color: $code-color; //#567482;
//   font-family: $font-family-monospace;
//   background-color: $gray-lightest; //#f3f8fa;
//   border-radius: 0;
// }

// .page-content code {
//   padding: 2px 4px;
//   font-size: $code-font-size;
// }

// .page-content pre {
//   padding: 1rem;
//   margin-top: 0;
//   margin-bottom: 1rem;
//   word-wrap: normal;
//   border: solid 1px #dce6f0;
// }

// .page-content pre > code {
//   padding: 0;
//   margin: 0;
//   font-size: 0.9rem;
//   color: #567482;
//   word-break: normal;
//   white-space: pre;
//   background: transparent;
//   border: 0;
// }

// .page-content pre {
//   overflow: auto;
//   font-size: 0.9rem;
//   line-height: 1.45;
//   -webkit-overflow-scrolling: touch;
// }

// .page-content pre code {
//   display: inline;
//   max-width: initial;
//   padding: 0;
//   margin: 0;
//   overflow: initial;
//   line-height: inherit;
//   word-wrap: normal;
//   background-color: transparent;
//   border: 0;

//   &:before,
//   &:after {
//     content: normal;
//   }
// }

// .page-content ul {
//   margin-top: 0;
// }

/**
 * Header button
 */

.btn-header {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn-header:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 64em) {
  .btn-header {
    padding: 0.75rem 1rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn-header {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 42em) {
  .btn-header {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;
  }
}
