// page headers
.jumbotron {
  color: #fff;
  text-align: center;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: $jumbotron-padding;
  background-color: $jumbotron-bg;
  box-shadow: inset 0 1px 20px rgba(0, 0, 0, 0.2);
  @include border-radius(0);
  @include media-breakpoint-up(sm) {
    padding: ($jumbotron-padding * 4) $jumbotron-padding;
  }

  h1, h2, {
    color: white;
    font-weight: 300;
  }
}

/**
 * Small page header
 */

.jumbotron-sm {
  padding: 1.5rem 0;

  .page-title {
    text-align: left;
    font-size: 2rem;
    font-weight: 200;
  }
}
